// Cursor //
    cursor {
        xcursor-theme "Bibata-Modern-Ice"
        xcursor-size 20
    }

// Blur engine //
//    blur {
//        passes 3
//        offset 3
//        noise 0.02
//        saturation 1.4
//    }

// Global Window Visuals //
    window-rule {
        geometry-corner-radius 20
        clip-to-geometry true
    }

// App-specific tweaks


// Global Popup Blur //
//    window-rule {
//        popups {
//            opacity 0.88
//            background-effect {
//                blur true
//                xray false
//            }
//            geometry-corner-radius 10
//        }
//    }

