// Cursor //
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 20
}

// Blur //
//blur {
//    passes 2
//    offset 3
//    noise 0.02
//    saturation 1.5
//}

// Global Window Visuals //
window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
    draw-border-with-background false

// Global Blur
//    background-effect {
//        blur true
//        xray true
//    }

// Global Popup Blur //
//    popups {
//        opacity 0.88
//        geometry-corner-radius 15
//        background-effect {
//            blur true
//            xray true
//        }
//    }
    
// Global Shadow //
    shadow {
        on
        softness 20
        spread 1
        offset x=0 y=4
        color "#bb9af744"
    }
}

window-rule {
    match is-focused=false
    opacity 0.9
}

