// Window Rules //
    window-rule {
        open-maximized true
    }

// Layer Rules //
    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }

//    layer-rule {
//        match namespace="^noctalia-(bar|background|launcher-overlay|dock|notification)-.*$"
//        background-effect {
//            blur true
//            xray false
//        }
//    }

