animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=400 epsilon=0.0001
    }
    window-open {
        duration-ms 500
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 400
        curve "ease-out-expo"
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=400 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=600 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=600 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.7 stiffness=800 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 400
        curve "ease-out-expo"
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=400 epsilon=0.0001
    }
}

