// ────────────── Startup Applications ──────────────

spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "swayosd-server"
spawn-at-startup "hypridle"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "awww-daemon"

