// ────────────── Input Configuration ──────────────

input {
    keyboard {
        xkb {
        // layout "us"
        }

        numlock // Enable numlock on startup
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll
    }

    mouse {
	      accel-profile "flat"
	      accel-speed 0.0
    }

    focus-follows-mouse
    workspace-auto-back-and-forth
}

